<div id="nav-wrapper"> 
	<!-- Nav -->
	<nav id="nav">
		<ul>
			<li class="active"><a href="index.html">Strona główna</a></li>
			<li class="active"><a href="about_pl.html">O nas</a></li>								
			<li class="active"><a href="projects_pl.html">Prowadzone projekty</a></li>	
			<li class="active"><a href="partners_pl.html">Partnerzy</a></li>										
			<li class="active"><a href="statute_pl.pdf">Statut</a></li>				
			<li class="active"><a href="contact_pl.html">Kontakt</a></li>																						
			<li class="active"><a href="index_en.html">In English</a></li>					
		</ul>
	</nav>
</div>