<!DOCTYPE HTML>
{% include license.html %}

<html>
	{% include header.html %}
	<body class="homepage">

	<!-- Header -->
		<div id="header">
  			{% include menu_pl.html %}

			<div id="logo">
				Stowarzyszenie Przyjaciół Miast Partnerskich Zamościa
			</div>
		</div>

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				<header>
					<h2>Witamy na stronie naszego Stowarzyszenia</h2>
				</header>
				<p>Naszą misją jest utrzymywanie kontaktów z miastami partnerskimi, nauka języka, wymiana mieszkańców, promowanie Zamościa poza granicami kraju, promowanie kultury, zwyczajów, działania związane z integracją europejską. Więcej w sekcji <a href="o_nas.html">o nas</a>.</p>
				<hr />
				<div class="row">
					<section class="4u">
						<span class="pennant"><span class="fa fa-globe"></span></span>
						<h4></h4>
						<a href="./about_pl.html" class="button button-style1">Zobacz, co robimy</a>
					</section>
					<section class="4u">
						<span class="pennant"><span class="fa fa-sign-in"></span></span>
						<h4></h4>
						<a href="./contact_pl.html" class="button button-style1">Zobacz, jak się zapisać</a>
					</section>
					<section class="4u">
						<img src="images/open_fortress.gif" width="140">
						<h4></h4>
						<a href="http://www.zamosc.pl" class="button button-style1">Przejdż na oficjalną stronę Zamościa</a>
					</section>

				</div>
			</div>
		</div>

	<!-- Main -->
		<div id="main">
			<div id="content" class="container">
				<header>
					<h1>Aktualnie prowadzone działania</h1>
				</header>
				<div class="row">
					<section class="6u">
						<a href="projects_pl.html" class="image full"><img src="images/UK_flag.png" alt=""></a>
						<header>
							<h2>Wymiana z Loughborough</h2>
						</header>
					</section>		

					<section class="6u">
						<a href="projects_pl.html" class="image full"><img src="images/UE_flag.png" alt=""></a>
						<header>
							<h2>Migration Project</h2>
						</header>
					</section>				
				</div>

				<div class="row">
					<section class="6u">
						<a href="projects_pl.html" class="image full"><img src="images/yfe.jpg" alt=""></a>
						<header>
							<h2>Youth For Europe</h2>
						</header>
					</section>			
				</div>
			
			</div>
		</div>

		{% include footer_pl.html %}
	</body>
</html>